docker_services/n8n/workflows/Bluesky with AI (5).json
{
  "name": "Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0dde0006-a389-47f5-ae16-caeae58037bc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -112
      ],
      "id": "cfbabb7b-ec45-42da-be59-4c090c13cc69",
      "name": "Webhook",
      "webhookId": "0dde0006-a389-47f5-ae16-caeae58037bc"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les données d'entrée\nconst items = $input.all();\n\n// Traiter chaque élément\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n  \n  // Liste des champs requis\n  const champsRequis = ['message', 'user', 'msg_id'];\n  const champsManquants = [];\n  \n  // Vérifier chaque champ requis\n  champsRequis.forEach(champ => {\n    if (!body[champ]) {\n      champsManquants.push(champ);\n    }\n  });\n  \n  // Si des champs manquent, lever une erreur\n  if (champsManquants.length > 0) {\n    const nbManquants = champsManquants.length;\n    const message = `Il manque ${nbManquants} champ${nbManquants > 1 ? 's' : ''} : ${champsManquants.join(', ')}`;\n    throw new Error(message);\n  }\n  \n  // Si tout est OK, retourner les données\n  return $input.first().json.body\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -112
      ],
      "id": "e9a086e4-218a-4db7-ae9a-4fe001fb7d79",
      "name": "Data Verification",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "rqrEG335i7KYQrnO",
          "mode": "list",
          "cachedResultName": "Executions Infos",
          "cachedResultUrl": "/projects/xVIk7UvWsHSTJ0bH/datatables/rqrEG335i7KYQrnO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "In Progress",
            "message": "={{ $json.message }}",
            "user": "={{ $json.user }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -352,
        -208
      ],
      "id": "9e85ef43-c479-41e4-b276-6bcb4403ba0a",
      "name": "Infos Logger"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "NatEuXcPKILe0pnO",
          "mode": "list",
          "cachedResultName": "Errors",
          "cachedResultUrl": "/projects/SCkLiGdNcpiddJHR/datatables/NatEuXcPKILe0pnO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Step",
              "displayName": "Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Output",
              "displayName": "Last_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "cb99670f-8c53-4a81-9f72-ef07dcc1aa99",
      "name": "Errors Logger"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "rqrEG335i7KYQrnO",
          "mode": "list",
          "cachedResultName": "Executions Infos",
          "cachedResultUrl": "/projects/xVIk7UvWsHSTJ0bH/datatables/rqrEG335i7KYQrnO"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Infos Logger').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Success"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2480,
        -208
      ],
      "id": "1c22c105-aabc-4cc5-bd43-e4b90f959501",
      "name": "Infos Logger1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://classifier:8002/topic",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Data Verification').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -208
      ],
      "id": "b1000001-0000-0000-0000-000000000001",
      "name": "Topic (BERT)"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst checkable = item.checkable === true || item.checkable === 'true';\nreturn [{ json: { checkable, topic: item.topic ?? null, topic_confidence: item.confidence ?? 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        -208
      ],
      "id": "b1000002-0000-0000-0000-000000000002",
      "name": "Parse Topic",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://classifier:8002/sentiment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Data Verification').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -208
      ],
      "id": "b1000003-0000-0000-0000-000000000003",
      "name": "Sentiment (BERT)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "topic-checkable",
              "leftValue": "={{ $('Parse Topic').item.json.checkable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        -208
      ],
      "id": "b1000004-0000-0000-0000-000000000004",
      "name": "Is Checkable?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://news_getter:8001/embed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Data Verification').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        660,
        -352
      ],
      "id": "a1000004-0000-0000-0000-000000000004",
      "name": "Embed Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/news_articles/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "7dd292db4a0648d0a53d6df30b11e66f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.vector, limit: 12, with_payload: true }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        860,
        -352
      ],
      "id": "a1000005-0000-0000-0000-000000000005",
      "name": "Qdrant Search"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Data Verification').item.json.message;\nconst hits = $input.first().json.result || [];\nconst articles = hits.map(h => ({\n  title: (h.payload && h.payload.title) || '',\n  summary: (h.payload && h.payload.summary) || '',\n  score: typeof h.score === 'number' ? h.score : 0\n}));\nreturn [{ json: { message: msg, articles } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -352
      ],
      "id": "b1000005-0000-0000-0000-000000000005",
      "name": "Build Articles",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://classifier:8002/verify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, articles: $json.articles }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1260,
        -352
      ],
      "id": "b1000006-0000-0000-0000-000000000006",
      "name": "Verify (NLI)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "needs-llm",
              "leftValue": "={{ $json.needs_llm }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1460,
        -352
      ],
      "id": "b1000007-0000-0000-0000-000000000007",
      "name": "Needs LLM?"
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Data Verification').item.json.message;\nconst articles = $('Build Articles').item.json.articles || [];\nconst context = articles.map((a, i) => {\n  const score = (typeof a.score === 'number') ? a.score.toFixed(3) : '?';\n  return `${i + 1}. [similarite ${score}] ${a.title || ''} - ${a.summary || ''}`;\n}).join('\\n');\nconst prompt_input = `Voici des articles de vraies actualites similaires (base de reference) :\\n${context || '(aucun article similaire trouve)'}\\n\\nMessage a analyser : \"${msg}\"`;\nreturn [{ json: { prompt_input } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -448
      ],
      "id": "b1000008-0000-0000-0000-000000000008",
      "name": "Build LLM Prompt",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-server:8000/v1/chat/completions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "Qwen/Qwen2.5-0.5B-Instruct"
            },
            {
              "name": "message",
              "value": "={{ $json.prompt_input }}"
            },
            {
              "name": "task",
              "value": "fake_news"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1860,
        -448
      ],
      "id": "a1000007-0000-0000-0000-000000000007",
      "name": "FakeNews (Qwen)"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst choices = item.choices;\nconst text = choices?.[0]?.message?.content ?? choices?.[0]?.output?.[0] ?? '';\nfunction extract(t){ const m = t.match(/\\{[\\s\\S]*\\}/); if(!m) return null; try { return JSON.parse(m[0]); } catch(e){ return null; } }\nconst p = extract(text);\nif(!p) throw new Error('Reponse IA non-JSON: ' + text.slice(0,200));\nconst inner = (p.is_real_news !== undefined) ? p : (p.object || p.result || p);\nconst is_real = inner.is_real_news === true || inner.is_real_news === 'true';\nlet conf = inner.confidence;\nconf = typeof conf === 'number' ? conf : (parseFloat(conf) || 0);\nreturn [{ json: { is_fake: !is_real, confidence: conf } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        -448
      ],
      "id": "a1000008-0000-0000-0000-000000000008",
      "name": "Parse FakeNews",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const v = $input.first().json;\nconst is_fake = v.is_fake === true || v.is_fake === 'true';\nlet conf = v.confidence;\nconf = typeof conf === 'number' ? conf : (parseFloat(conf) || 0);\nreturn [{ json: { is_fake, confidence: conf } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -256
      ],
      "id": "b1000009-0000-0000-0000-000000000009",
      "name": "Verify Result",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sujet non factuel (perso/quotidien) : pas de fact-check, on ne stocke que le mood.\nreturn [{ json: { is_fake: false, confidence: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -64
      ],
      "id": "b1000010-0000-0000-0000-000000000010",
      "name": "Personal Result"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages(message_id, is_fake, confidence, mood)\nVALUES ('{{ $('Data Verification').item.json.msg_id }}', {{ $json.is_fake }}, {{ $json.confidence }}, '{{ $('Sentiment (BERT)').item.json.mood }}')\nON CONFLICT (message_id) DO UPDATE SET is_fake = EXCLUDED.is_fake, confidence = EXCLUDED.confidence, mood = EXCLUDED.mood",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2280,
        -208
      ],
      "id": "a1000011-0000-0000-0000-000000000011",
      "name": "Insert Message",
      "credentials": {
        "postgres": {
          "id": "AjUxu8oW8xTpjjAF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Verification": {
      "main": [
        [
          {
            "node": "Infos Logger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infos Logger": {
      "main": [
        [
          {
            "node": "Topic (BERT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic (BERT)": {
      "main": [
        [
          {
            "node": "Parse Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topic": {
      "main": [
        [
          {
            "node": "Sentiment (BERT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment (BERT)": {
      "main": [
        [
          {
            "node": "Is Checkable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Checkable?": {
      "main": [
        [
          {
            "node": "Embed Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Message": {
      "main": [
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "Build Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Articles": {
      "main": [
        [
          {
            "node": "Verify (NLI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify (NLI)": {
      "main": [
        [
          {
            "node": "Needs LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs LLM?": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "FakeNews (Qwen)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FakeNews (Qwen)": {
      "main": [
        [
          {
            "node": "Parse FakeNews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse FakeNews": {
      "main": [
        [
          {
            "node": "Insert Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Result": {
      "main": [
        [
          {
            "node": "Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Result": {
      "main": [
        [
          {
            "node": "Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message": {
      "main": [
        [
          {
            "node": "Infos Logger1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infos Logger1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "718b59af9bccfcbbc7faadae36b03f3caad98b4e7f805a18fb39e37b467d7324",
    "templateCredsSetupCompleted": true
  },
  "id": "mIrGZNk4zk0WCqbH",
  "tags": [],
  "versionId": "ead1f64b-68f6-4206-9f18-a351d0e3a194"
}
