docker_services/n8n/workflows/Bluesky with AI (5).json
{
  "name": "Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0dde0006-a389-47f5-ae16-caeae58037bc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -112
      ],
      "id": "cfbabb7b-ec45-42da-be59-4c090c13cc69",
      "name": "Webhook",
      "webhookId": "0dde0006-a389-47f5-ae16-caeae58037bc"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les données d'entrée\nconst items = $input.all();\n\n// Traiter chaque élément\nreturn items.map(item => {\n  const body = item.json.body || item.json;\n  \n  // Liste des champs requis\n  const champsRequis = ['message', 'user', 'msg_id'];\n  const champsManquants = [];\n  \n  // Vérifier chaque champ requis\n  champsRequis.forEach(champ => {\n    if (!body[champ]) {\n      champsManquants.push(champ);\n    }\n  });\n  \n  // Si des champs manquent, lever une erreur\n  if (champsManquants.length > 0) {\n    const nbManquants = champsManquants.length;\n    const message = `Il manque ${nbManquants} champ${nbManquants > 1 ? 's' : ''} : ${champsManquants.join(', ')}`;\n    throw new Error(message);\n  }\n  \n  // Si tout est OK, retourner les données\n  return $input.first().json.body\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -112
      ],
      "id": "e9a086e4-218a-4db7-ae9a-4fe001fb7d79",
      "name": "Data Verification",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-server:8000/v1/chat/completions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "Qwen/Qwen2.5-0.5B"
            },
            {
              "name": "message",
              "value": "={{ $('Data Verification').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -400
      ],
      "id": "2aa2001d-3f13-4727-971e-febcd05286a0",
      "name": "IsFakeNews"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-server:8000/v1/chat/completions",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -192
      ],
      "id": "b5fd38a6-917c-4ea1-8d0f-a46bd1eae670",
      "name": "IsBot"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les données d'entrée\nconst items = $input.all();\n\nreturn items.map(item => {\n  try {\n    // Extraire la réponse de l'IA\n    const choices = item.json.choices;\n    \n    if (!choices || !choices[0] || !choices[0].output || !choices[0].output[0]) {\n      throw new Error(\"Structure de réponse invalide : impossible de trouver choices[0].output[0]\");\n    }\n    \n    // Parser le JSON de la réponse\n    const responseText = choices[0].output[0];\n    const parsedResponse = JSON.parse(responseText);\n    \n    // Vérifier les champs requis\n    const champsManquants = [];\n    \n    if (parsedResponse.is_real_news === undefined) {\n      champsManquants.push('is_real_news');\n    }\n    \n    if (parsedResponse.confidence === undefined) {\n      champsManquants.push('confidence');\n    }\n    \n    // Si des champs manquent, lever une erreur\n    if (champsManquants.length > 0) {\n      throw new Error(`Il manque ${champsManquants.length} champ(s) : ${champsManquants.join(', ')}`);\n    }\n    \n    // Retourner les données validées\n    return {\n      json: {\n        is_real_news: parsedResponse.is_real_news,\n        confidence: parsedResponse.confidence\n      }\n    };\n    \n  } catch (error) {\n    throw new Error(`Erreur de validation : ${error.message}`);\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -400
      ],
      "id": "d24c8dff-59cc-47f6-b871-310ba08086be",
      "name": "Output Verification",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -192
      ],
      "id": "72245d51-dcfd-4a1a-9ba3-81296b6da7ab",
      "name": "Output Verification1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "rqrEG335i7KYQrnO",
          "mode": "list",
          "cachedResultName": "Executions Infos",
          "cachedResultUrl": "/projects/xVIk7UvWsHSTJ0bH/datatables/rqrEG335i7KYQrnO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "In Progress",
            "message": "={{ $json.message }}",
            "user": "={{ $json.user }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -352,
        -208
      ],
      "id": "9e85ef43-c479-41e4-b276-6bcb4403ba0a",
      "name": "Infos Logger"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "NatEuXcPKILe0pnO",
          "mode": "list",
          "cachedResultName": "Errors",
          "cachedResultUrl": "/projects/SCkLiGdNcpiddJHR/datatables/NatEuXcPKILe0pnO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Step",
              "displayName": "Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Output",
              "displayName": "Last_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        288,
        -48
      ],
      "id": "cb99670f-8c53-4a81-9f72-ef07dcc1aa99",
      "name": "Errors Logger"
    },
    {
      "parameters": {
        "url": "http://llm-server:8000/v1/chat/completions",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -192
      ],
      "id": "0a014122-f0eb-4ab0-a36c-5cee0c717bf4",
      "name": "Write In DB"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "rqrEG335i7KYQrnO",
          "mode": "list",
          "cachedResultName": "Executions Infos",
          "cachedResultUrl": "/projects/xVIk7UvWsHSTJ0bH/datatables/rqrEG335i7KYQrnO"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Infos Logger').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Success"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        272,
        -416
      ],
      "id": "1c22c105-aabc-4cc5-bd43-e4b90f959501",
      "name": "Infos Logger1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages(message_id, is_fake, confidence)\nVALUES ({{ $('Data Verification').item.json.msg_id }}, {{ $('Output Verification').item.json.is_real_news }}, {{ $('Output Verification').item.json.confidence }})",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        -416
      ],
      "id": "86b8ba1b-7c5b-477c-a624-5e668fae6cb7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "AjUxu8oW8xTpjjAF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "listCollections",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -384,
        -544
      ],
      "id": "abdf9278-3e2d-46ce-8e59-00eefefb9d42",
      "name": "List Collections",
      "credentials": {
        "qdrantRestApi": {
          "id": "1ikVNiyOOWiZlYao",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1088,
        -992
      ],
      "id": "3cf34649-7fca-4c4c-a873-78b48e103793",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -544
      ],
      "id": "ccb1e5d5-0a03-47ed-bc82-2308ffa53cf9",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconsole.log(`Article rejeté (texte trop court ou vide): ${item.title || 'sans titre'}`);\nreturn [];"
      },
      "id": "f04c896d-ab53-4e24-b8d2-175fc450cb2c",
      "name": "🗑️ Articles rejetés",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-text",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "min-length",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c6fb437-32fe-4bba-9331-4c6685276209",
      "name": "✅ Filtre qualité",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        -1008
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse le XML RSS et extrait les articles\nconst xml = $input.item.json.data || '';\nconst category = $input.item.json.category || 'general';\nconst source = $input.item.json.source || 'unknown';\n\nif (!xml || typeof xml !== 'string') {\n  return [];\n}\n\n// Extraction des items RSS avec regex\nconst items = [];\nconst itemRegex = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n\n  const getTag = (tag) => {\n    const r = new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\/${tag}>|<${tag}[^>]*>([\\\\s\\\\S]*?)<\\/${tag}>`, 'i');\n    const m = item.match(r);\n    return m ? (m[1] || m[2] || '').trim() : '';\n  };\n\n  const title = getTag('title');\n  const description = getTag('description');\n  const link = getTag('link') || getTag('guid');\n  const pubDate = getTag('pubDate') || getTag('published') || new Date().toISOString();\n  const author = getTag('author') || getTag('dc:creator') || source;\n\n  if (!title) continue;\n\n  // Nettoyage HTML basique\n  const cleanText = (str) => str\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const cleanTitle = cleanText(title);\n  const cleanDesc = cleanText(description);\n\n  // Texte complet pour l'embedding\n  const fullText = `${cleanTitle}. ${cleanDesc}`;\n\n  // ID unique basé sur l'URL\n  const id = Buffer.from(link || cleanTitle).toString('base64').replace(/[^a-zA-Z0-9]/g, '').substring(0, 32);\n\n  items.push({\n    json: {\n      id,\n      title: cleanTitle,\n      description: cleanDesc,\n      text: fullText,\n      url: link,\n      source,\n      category,\n      published_at: new Date(pubDate).toISOString(),\n      fetched_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn items.slice(0, 20); // Max 20 articles par source"
      },
      "id": "7fe5743a-b300-43d9-a447-1e9fda50491c",
      "name": "🔍 Parse RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -1008
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d59329d9-b7e4-4719-8827-4a7a883a91e3",
      "name": "🌐 Fetch RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -1008
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Liste des flux RSS par catégorie\nconst feeds = [\n  // POLITIQUE\n  { url: 'https://feeds.bbci.co.uk/news/politics/rss.xml', category: 'politique', source: 'BBC' },\n  { url: 'https://feeds.reuters.com/reuters/politicsNews', category: 'politique', source: 'Reuters' },\n  { url: 'https://www.lemonde.fr/politique/rss_full.xml', category: 'politique', source: 'Le Monde' },\n  // FINANCE\n  { url: 'https://feeds.reuters.com/reuters/businessNews', category: 'finance', source: 'Reuters' },\n  { url: 'https://feeds.marketwatch.com/marketwatch/topstories/', category: 'finance', source: 'MarketWatch' },\n  { url: 'https://www.lesechos.fr/rss/rss_finance.xml', category: 'finance', source: 'Les Echos' },\n  // TECH\n  { url: 'https://techcrunch.com/feed/', category: 'tech', source: 'TechCrunch' },\n  { url: 'https://www.theverge.com/rss/index.xml', category: 'tech', source: 'The Verge' },\n  { url: 'https://feeds.arstechnica.com/arstechnica/index', category: 'tech', source: 'Ars Technica' }\n];\n\nreturn feeds.map(feed => ({ json: feed }));"
      },
      "id": "3386c7cd-9106-4923-af54-d16ed5f4769f",
      "name": "📋 Sources RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -1008
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "ece1f116-c7cd-4b6d-b254-47142aa3903d",
      "name": "⏰ Schedule (toutes les heures)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -1008
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        784,
        -1024
      ],
      "id": "2ee035d4-4d91-419f-8b08-b3d25d517c78",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "JMEmm98ahxB3zJ71",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=multilingual-e5-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        -832
      ],
      "id": "d648b9a8-7c7b-4bf5-bea3-7768eed238a4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DSrdobixLxaxdSEf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "jsonData",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "category",
                "value": "={{ $json.category }}"
              },
              {
                "name": "url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "published_at",
                "value": "={{ $json.published_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        896,
        -832
      ],
      "id": "2c322019-435a-4b41-a4f6-16bc68733798",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        896,
        -656
      ],
      "id": "1ed31742-fd4d-4067-9e9e-deb0aaf3b108",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Verification": {
      "main": [
        [
          {
            "node": "Infos Logger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsBot": {
      "main": [
        [
          {
            "node": "Output Verification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsFakeNews": {
      "main": [
        [
          {
            "node": "Output Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Verification1": {
      "main": [
        [
          {
            "node": "Write In DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Verification": {
      "main": [
        [
          {
            "node": "Infos Logger1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Errors Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write In DB": {
      "main": [
        []
      ]
    },
    "Infos Logger": {
      "main": [
        [
          {
            "node": "IsFakeNews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infos Logger1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Collections": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "✅ Filtre qualité": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🗑️ Articles rejetés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Parse RSS": {
      "main": [
        [
          {
            "node": "✅ Filtre qualité",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Fetch RSS": {
      "main": [
        [
          {
            "node": "🔍 Parse RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Sources RSS": {
      "main": [
        [
          {
            "node": "🌐 Fetch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Schedule (toutes les heures)": {
      "main": [
        [
          {
            "node": "📋 Sources RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cdf3e402-4602-476e-a39c-e925522731de",
  "meta": {
    "instanceId": "718b59af9bccfcbbc7faadae36b03f3caad98b4e7f805a18fb39e37b467d7324",
    "templateCredsSetupCompleted": true
  },
  "id": "mIrGZNk4zk0WCqbH",
  "tags": []
}